<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- recorre todas las opciones relacionadas con esta pregunta 
Aunque parece que falta (), Django lo interpreta como: 'question.choice_set.all()'
ademas choice_set existe automáticamente porque en mi modelo tengo: question = models.ForeignKey(Question, on_delete=models.CASCADE) -->
  </head>
  <body>
    <!-- muestra el atributo question_text del objeto question 
     cuando pulses "Vote" el formulario enviara los datos a polls/1/vote-->
    <form action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %}
      <fieldset>
        <legend>
          <h1>{{ question.question_text }}</h1>
        </legend>

        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %} {% for choice in question.choice_set.all %}
        <!-- cada opcion es unn radio button -->
        <input
          type="radio"
          name="choice"
          id="choice{{ forloop.counter }}"
          value="{{ choice.id }}"
        />
        <label for="choice{{ forloop.counter }}">
          {{ choice.choice_text }}
        </label>
        <br />
        {% endfor %}
      </fieldset>

      <input type="submit" value="Vote" />
    </form>
  </body>
</html>
